/* ************ HOME */
html {
  height: 100%;
  font-size: 1.9vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  height: 100%;
}

header {
  background-color: #ffe888;
  height: 20%;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

header > img {
  height: 80%;
}

header > p {
  max-width: 65%;
}

main {
  display: flex;
  min-height: 60%;
  font-size: 1rem;
}

main.column {
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: black;
  color: white;
  height: 20%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer > div {
  text-align: center;
}

nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > a {
  margin-top: 7vh;
  font-size: 1.2rem;
  font-weight: bold;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  font-size: 1rem;
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: 4vw;
}

article > h3 {
  margin: 1vh;
  text-align: center;
}

#myCarousel {
  width: 960px;
  height: 639px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  width: 960px;
  height: 639px;
  margin-left: auto;
  margin-right: auto;
}

/* ************ GALLERY */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2vw 0;
}

#gallery > a {
  margin: 2vw;
}

#galleryNav {
  margin-bottom: 4vw;
}

a.navigation {
  color: royalblue;
  text-decoration: none;
  font-size: 1rem;
}
a.navigation:hover {
  color: skyblue;
}
/* ************ OFFER */

/* ************ CONTACT */

#contactData,
#contactMap,
.offer {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}
#offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a.tilelink {
  color: black;
  text-decoration: none;
}
